.header{
	margin: auto;
	padding-top: 25px;
    padding-bottom: 25px;
	background-color: #0269c2;
    border-bottom: 1px black solid;
}
.headerText{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
    margin-left: 50px;
}